@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nunito:wght@500&family=Open+Sans:wght@300&family=Poppins:wght@600&family=Roboto:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    background-color: white;
   
}

.nav-bar {
    width: 300px;
    height: 100%;
    position: fixed;
    padding: 10px;
    background: linear-gradient(to top, #FFAE42, #FA7268);
    border-top-right-radius: 38px;
    border-bottom-right-radius: 38px;
    filter: drop-shadow(4px 4px 30px rgba(0, 0, 0, 0.3));
    z-index: 1;
}

.foto-de-perfil {
    width: 60px;
    padding: 10px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
}

.foto-de-perfil img {
    width: 50px;
}

.nav-bar ul{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nav-bar li {
    list-style: none;
    margin-top: 20px;
    font-size: 19px;
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.14);
}

.nav-bar ul li a {
    color: #FFFFFF;
    transition: 0.3s;
}

.nav-bar li a:hover{
    color: #E24800;
}

b::after {
    content: '';
    width: 160px;
    height: 4px;
    background-color: white;
    display: block;
    border-radius: 10px;
    margin: 27px auto;
}

.direita {
    width: 1061px;
    margin-left: 290px;
    position: relative;
}

.home-conteiner {
    width: 100%;
    height: 926px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    z-index: 0;
}

.text {
    width: fit-content;
    padding-left: 90px;
    display: flex;
    margin-top: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.text p {
    font-size: 25px;
    text-align: center;
    align-items: center;
}

.animação {
    font-size: 50px;
}

.inlutrador {
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    color: #FA7268;
}

.sobre_mim {
    font-size: 18px;
    margin-top: 30px;
    margin-left: 90px;
    color: #FFFFFF;
    background-color: #FA7268;
    border: none;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;
}

.sobre_mim:hover {
    cursor: pointer;
    background-color: #DC544A;
}

.overlays {
    width: 100%;
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
}

.cleitin-2 {
    display: none;
}

.cleitin {
    position: absolute;
    left: 660px;
}

.circulo {
    position: absolute;
    left: -19px;
    top: -281px;
}

.quadrado {
    position: absolute;
    left: 700px;
    top: 15px;
    transform: rotate(24.62deg);
}

.onda {
    position: absolute; 
    left: 800px;
    top: 552px
}

.sobre-conteiner {
    width: 1061px;
    height: 2037px;
    margin-top: 80px;
    padding-top: 40px;
    text-align: center;
    position: relative;
}

.sobre-conteiner h1 {
    font-size: 37px;
}

.linha-de-perfil {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    text-align: center;
}

.linha-de-perfil img {
    width: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.linha::before{
    content: '';
    width: 109px;
    height: 2px;
    border-radius: 40px;
    display: block;
    opacity: 40%;
    background-color: black;
}

.Olá_cleitin {
    height: 400px;
    display: flex;
    padding-left: 100px;
    flex-direction: column;
    margin: 124px 0px 0px 0px;
}

.Olá_cleitin h2 {
    font-size: 28px;
    display: inline-flex;
    gap: 7px;
    justify-content: flex-start;
    align-items: flex-start;
}

.Olá_cleitin strong{
    color: #FD8419;
}

.Olá_cleitin p {
    padding-right: 60px;
    margin-top: 35px;
    width: 900px auto;
    text-align: center;
}

.sobre-detalhes {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-size: 30px;
    text-align: center;
    position: relative; 
}

.informações {
    width: 100%;
    height: 748px;
    display: flex;
    position: relative;
}

.foto-de-cleitin {
    width: 50%;
    position: relative;
    text-align: center;
    z-index: -1;
}

.cleitin-13 {
    left: -100px;
    position: absolute;
}

.cleitin-overla {
    position: absolute;
    top: -50px;
    right: 280px;
    z-index: -1;
}

.cleitin-overlay {
    position: absolute;
    top: 350px;
    left: 270px;
    z-index: -1;
}

.sobre-cleitin h3 {
    width: fit-content;
    display: flex;
    justify-content: left;
}

.sobre-cleitin h3::after{
    content: '';
    display: block;
    width: 5px;
    height: 41px;
    margin-left: 10px;
    border-radius: 30px;
    background-color: #E24800;
}

.sobre-cleitin p {
    width: 547px;
    margin-top: 45px;
    font-size: 16px;
}

.aplicativos {
    width: 546px;
    height: fit-content;
    margin: 20px 0px 40px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    border-radius: 29px;
    text-align: left;
}

.aplicativos .barra {
    margin: 10px 0;
}

.aplicativos .barra:first-child{
    margin-top: 0px;
}

.aplicativos .barra .informação span {
    font-size: 17px;
    font-weight: 700;
}

.aplicativos .barra .linha-de-progresso {
    position: relative;
    height: 10px;
    width: 100%;
    background: #f0f0f0;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.barra .linha-de-progresso span {
    height: 100%;
    width: 1%;
    border-radius: 10px;
    background: #E24800;
    position: absolute;
}

.barra .linha-de-progresso.alight span::before{
    position: absolute;
    content: "";
    right: 0;
    top: -10px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
}

.linha-de-progresso.after span {
    width: 10%;
}

.linha-de-progresso.alight span {
    width: 80%;
}

.linha-de-progresso.filmora span {
    width: 1%;
}

.linha-de-progresso.live2d span {
    width: 0%;
}

.linha-de-progresso.blender span {
    width: 0%;
}

.barra .linha-de-progresso span::after{
    position: absolute;
    right: 0;
    top: -27px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    background: #000;
    padding: 1px 8px;
    border-radius: 3px;
    
}

.linha-de-progresso.alight span::after {
    content: "80%";
}

.pontos_main {
    width: 876px;
    display: flex;
    gap: 36px;
    align-items: center;
    justify-content: center;
}

.pontos-conteiner {
    width: 420px;
    height: 519px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 39px;
    background: #EDEDED;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
}

.pontos-conteiner img {
    width: 64px;
    margin-top: 20px;
    margin-bottom: 34px;
} 

.pontos-conteiner h3 {
    margin-bottom: 10px;
    opacity: 50%;
}

.pontos-conteiner ul {
    text-align: center;
}

.pontos-conteiner ul li {
    opacity: 50%;
    font-weight: 600;
    margin-top: 27px;
    list-style: none;
    font-size: 20px;
}

.perguntas {
    height: fit-content;
    margin-top: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-weight: 500;
    font-size: 20px;
}

.serviços-conteiner {
    width: 100%;
    height: 736px;
    display: flex;
    justify-content: center;
    margin-top: 90px;
    padding-top: 80px;
    position: relative;
}

.serviços-conteiner p {
    margin-top: 24px;
    text-align: center;
}

.clique strong {
    color: #E24800;
}

.serviços {
    width: 904px;
    height: 467px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.serviços-titulo {
    display: flex;
    align-items: center;
    font-size: 26px;
}

.serviços-titulo img {
    margin-left: 20px;
    color: #000;
}

.cards-serviços {
    width: 100%;
    margin-top: 74px;
    height: fit-content;
    display: flex;
    gap: 26px;
}

.cards {
    width: 284px;
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 29px;
    background-color: #FED0AD;
}

.cards h3 {
    margin-top: 18px;
}

.cards p {
    width: 250px;
    margin-top: 23px;
    font-size: 13px;
}

.overla-serviços {
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: -1;
}

.projetos-conteiner {
    width: 100%;
    height: 799px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.projetos-titulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.projetos-titulo b::before {
    content: '';
    display: block;
    width: 123px;
    height: 2px;
    background-color: #000;
    align-items: center;
}

.projetos-titulo h1 {
    font-size: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

.projetos-cards {
    width: 863px;
    height: 411px;
    margin-top: 72px;
    display: flex;
    flex-wrap: wrap;
    gap: 37px;
}

.projetos {
    width: 263px;
    height: 187px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EDEDED;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.projetos h3 {
    font-size: 20px;
    opacity: 30%;
}

.projetos p {
    font-size: 10px;
    opacity: 30%;
    margin-top: 3px;
    text-align: center;
}

.projetos-botão button {
    width: 176px;
    height: 60px;
    margin-top: 55px;
    border: none;
    border-radius: 20px;
    background-color: #FA7268;
    color: #FFFFFF;
    font-size: 18px;
}

.projetos-circulo {
    top: 36px;
    position: absolute;
    z-index: -1;
}

.Contato-conteiner {
    width: 100%;
    height: 757px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.contato {
    width: 418px;
    position: absolute;
    top: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contato h1 {
    color: #FFFFFF;
    font-size: 30px;
}

.cleitin-sabio{
    width: 400px;
}

.rede-socias {
    display: flex;
    margin-top: 50px;
    align-items: center;
    gap: 93px;
}

.rede-socias div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rede-socias div p {
    margin-top: 19px;
    color: white;
}

.contato-background {
   position: relative;
   width: 100%;
   height: 700px;
}

.contato-background img {
    top: -610px;
    left: -40px;
    position: absolute;
    z-index: -1;
}